In [1]:
#Importar librerias 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# Importar datasets
Contratos = pd.read_csv('./datasets/final_provider/final_provider/contract.csv')
Internet = pd.read_csv('./datasets/final_provider/final_provider/internet.csv')
Personal = pd.read_csv('./datasets/final_provider/final_provider/personal.csv')
Phone = pd.read_csv('./datasets/final_provider/final_provider/phone.csv')

# Analisis Exploratorio de Datos

In [3]:
Contratos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [4]:
Contratos

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...
7038,6840-RESVB,2018-02-01,No,One year,Yes,Mailed check,84.80,1990.5
7039,2234-XADUH,2014-02-01,No,One year,Yes,Credit card (automatic),103.20,7362.9
7040,4801-JZAZL,2019-03-01,No,Month-to-month,Yes,Electronic check,29.60,346.45
7041,8361-LTMKD,2019-07-01,2019-11-01 00:00:00,Month-to-month,Yes,Mailed check,74.40,306.6
7042,3186-AJIEK,2014-08-01,No,Two year,Yes,Bank transfer (automatic),105.65,6844.5

In [5]:
# Cambio de tipo de dato
Contratos['BeginDate'] = pd.to_datetime(Contratos['BeginDate'],errors='coerce')
Contratos['EndDate'] = pd.to_datetime(Contratos['EndDate'], errors='coerce')
Contratos['TotalCharges'] = pd.to_numeric(Contratos['TotalCharges'], errors='coerce')

C:\Users\vlady\AppData\Local\Temp\ipykernel_5444\1992271743.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Contratos['EndDate'] = pd.to_datetime(Contratos['EndDate'], errors='coerce')

In [21]:
print(Contratos.isna().sum())

customerID             0
BeginDate              0
EndDate             5174
Type                   0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges          11
dtype: int64

In [34]:
print(Contratos[Contratos['TotalCharges'].isna()])

      customerID  BeginDate EndDate      Type PaperlessBilling  \
488   4472-LVYGI 2020-02-01      no  Two year              Yes
753   3115-CZMZD 2020-02-01      no  Two year               No
936   5709-LVOEQ 2020-02-01      no  Two year               No
1082  4367-NUYAO 2020-02-01      no  Two year               No
1340  1371-DWPAZ 2020-02-01      no  Two year               No
3331  7644-OMVMY 2020-02-01      no  Two year               No
3826  3213-VVOLG 2020-02-01      no  Two year               No
4380  2520-SGTTA 2020-02-01      no  Two year               No
5218  2923-ARZLG 2020-02-01      no  One year              Yes
6670  4075-WKNIU 2020-02-01      no  Two year               No
6754  2775-SEFEE 2020-02-01      no  Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges
488   Bank transfer (automatic)           52.55           NaN
753                Mailed check           20.25           NaN
936                Mailed check           80.85           NaN
1082               Mailed check           25.75           NaN
1340    Credit card (automatic)           56.05           NaN
3331               Mailed check           19.85           NaN
3826               Mailed check           25.35           NaN
4380               Mailed check           20.00           NaN
5218               Mailed check           19.70           NaN
6670               Mailed check           73.35           NaN
6754  Bank transfer (automatic)           61.90           NaN

In [25]:
#Trato de valores null
Contratos["EndDate"]=Contratos["EndDate"].fillna('no')

In [26]:
print(Contratos.isna().sum())

customerID           0
BeginDate            0
EndDate              0
Type                 0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
dtype: int64

In [22]:
print(Contratos.duplicated().any())

False

In [23]:
Contratos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   datetime64[ns]
 2   EndDate           1869 non-null   datetime64[ns]
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7032 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 440.3+ KB

In [24]:
Contratos

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,NaT,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,NaT,One year,No,Mailed check,56.95,1889.50
2,3668-QPYBK,2019-10-01,2019-12-01,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,NaT,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...
7038,6840-RESVB,2018-02-01,NaT,One year,Yes,Mailed check,84.80,1990.50
7039,2234-XADUH,2014-02-01,NaT,One year,Yes,Credit card (automatic),103.20,7362.90
7040,4801-JZAZL,2019-03-01,NaT,Month-to-month,Yes,Electronic check,29.60,346.45
7041,8361-LTMKD,2019-07-01,2019-11-01,Month-to-month,Yes,Mailed check,74.40,306.60
7042,3186-AJIEK,2014-08-01,NaT,Two year,Yes,Bank transfer (automatic),105.65,6844.50

## Analisis de Internet

In [9]:
Internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [10]:
print(Internet.isna().sum())

customerID          0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

In [11]:
print(Internet.duplicated().any())

False

In [12]:
Internet.head()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No

## Analisis de Personal

In [13]:
Personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [14]:
print(Personal.isna().sum())

customerID       0
gender           0
SeniorCitizen    0
Partner          0
Dependents       0
dtype: int64

In [15]:
print(Personal.duplicated().any())

False

In [16]:
Personal.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

## Analisis de Phone

In [17]:
Phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [18]:
print(Phone.isna().sum())

customerID       0
MultipleLines    0
dtype: int64

In [19]:
print(Phone.duplicated().any())

False

In [20]:
Phone.head()

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes

# Plan de Trabajo
## Preguntas Aclaratorios 
1.Â¿Podemos considerar que si en la columna "endDate" hay una fecha, significa que el cliente ha dejado nuestro servicio?
## Plan para resolver la tarea 
1. Realizar un merge de las tablas<br><br>
El proposito del merge es juntar todo los datos en uno para tener la mayor cantidad de caracteristicas para llegar a entrenar un modelo de clasificacion<br>
Esta tabla historica que vamos a genera con todo los datos, nos puede servir para poder ver toda la informacion de nuestros clientes<br>
2. Limpieza de Datos <br><br>
Asegurar que los datos  esten limpios y listo para generar nuestro Analisis<br>  
3. Analisis Exploratorio de Datos<br><br>
Realizar un anÃ¡lisis visual de los datos para identificar patrones, tendencias y relaciones de nuestros clientes<br>
Para la generacion de conclusion de como actuan nuestro clientes<br><br>
4. Procesamiento de datos <br><br>
Para que los datos estÃ©n en un formato adecuado y optimizado para el algoritmo de aprendizaje automÃ¡tico que se utilizarÃ¡<br>
5. Entrenamietno de modelo<br><br>
Entrenamiento y EvaluaciÃ³n de Algoritmos de Aprendizaje AutomÃ¡tico para medir su rendimiento<br>
6. GeneraciÃ³n de Informes y Conclusiones<br><br>
Resumir y comunicar los hallazgos del anÃ¡lisis<br><br>